[Unit]
Description= app_py
After=network-online.target

[Service]
User=matvey
Group=matvey
WorkingDirectory=/var/www/static
ExecStart=/var/www/static/venv/bin/gunicorn --bind 127.0.0.1:8001 app:app
Restart=Always

[Install]
WantedBy=multi-user.target
